body {
  font-family:'Montserrat ExtraBold', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-top: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color:#fffff0;
}

.container-logo{
  position:fixed;
  top:0;
  left:0;
  border:2px solid white;
  border-radius: 10px;
  background-color:white;
  box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2);;
  width: 100%;
  height:130px;
  z-index: 100;

}
.logo img{
  width:15%;
  height:25%;
  position: relative;
  left: 20px;
  top:-0px;
}

.registration img{
  width: 2%;
  height: auto;
  position:absolute;
  left: 80%;
  top:35%;  
}

.registration img:hover{
  box-shadow:0px 4px 8px(35,35,35,0.1px);
  transform: translateY(-3px);
}

.registration-text{
  position: absolute;
  left:83%;
  top:40%;
  font-size: 16px;
  color: black; 
  text-decoration: none; 
  font-weight: bold;
}

.registration-text:hover{
  box-shadow:0px 4px 8px(35,35,35,0.1px);
  transform: translateY(-3px);
}

.profile img{
  width: 2%;
  height: auto;
  position: absolute;
  left: 90%;
  top:34%;
}

.profile img:hover{
  box-shadow:0px 4px 8px(35,35,35,0.1px);
  transform: translateY(-3px);
}

.profile-text{
  position: absolute;
  left:93%;
  top:39%;
  font-size: 16px;
  color: black;
  text-decoration: none; 
  font-weight: bold;
}

.profile-text:hover{
  box-shadow:0px 4px 8px(35,35,35,0.1px);
  transform: translateY(-3px);
}

.language img{
  width: 2%;
  height: auto;
  position: absolute;
  left: 75%;
  top:35%;
}

.language-text{
  position: absolute;
  left:70%;
  top:26%;
  font-weight:bold;
  font-size:16px;
}

.feedback{
 position: absolute;
 left:38%;
 top:25px;
 font-size:16px;
 color:black;
 text-decoration: none;
 font-weight:bold;
 white-space: nowrap;
}

.contact_us{
  position: absolute;
  left:28%;
  top:50px;
  font-size:16px;
  color:black;
  text-decoration: none;
  font-weight:bold;
}

.card-container{
  border: 2px solid black;
  border-radius: 5px;
  position:relative;
  width:950px;
  height:365px;
  top:130px;
  right:8px;
  margin-bottom: 80px;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

.card-img img{
  width:51%;
  height:365px;
}

.adress{
  position: absolute;
  right:10%;
  top:5%;
  font-size:19px;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
  max-width:20vw;
  text-align: left;
  justify-content: center; 
  align-items: center;
  
}

.description{
  position:absolute;
  right:7px;
  top:100px;
  font-size: 19px;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 25vw;
}

.place_img img{
  width:3%;
  height:auto;
  position:absolute;
  top:40px;
  right:415px;
  
}

.description_img img{
  width:3%;
  height:auto;
  position:absolute;
  right:415px;
  top:160px;
}

.line{
  width:42%;
  position:absolute;
  right:40px;
  top:280px;
}

.share img{
  width:3.5%;
  height:auto;
  position: absolute;
  top:308px;
  right: 250px;
}

.like {
  position: absolute;
  top: 305px;
  right: 350px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.heart-icon {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #444;
  transition: 0.3s;
}

.liked .heart-icon {
  fill: red;
  stroke: red;
}

.back button{
  position: relative;
  left:-6px;
  top:50px;
  font-size: 15px;
  border:none;
  border-radius: 5px;
  padding: 10px 16px;
  cursor:pointer;
  background-color: #fb7617;
  color:white;
}

.back:hover button{
  background-color: rgb(211, 116, 0);
}

.word{
  font-size: 40px;
  position: relative;
  left:3%;
  top:-30px;
  color:rgb(0, 3, 34)
}

.card-comment{
  border:1px solid rgb(171, 171, 171);
  border-radius: 10px;
  width:950px;
  height:465px;
  position: relative;
  top:0px;
  left:-10px;
  background-color: white;
}

.score{
  border:1px solid rgb(229, 227, 227);
  background-color: rgb(229, 227, 227);
  border-radius: 10px;
  width:250px;
  height:100px;
  position:relative;
  top:50px;
  left:50px;

}

.figure{
  font-size:60px;
  color:rgb(116, 116, 116);
  position:relative;
  left:20px;
  top:10px;
}

.rating {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top:-55px;
  left:120px;
}

.star {
  color: #ccc;
}

.star.active {
  color: gold;
}

.number{
  position: relative;
  top:-45px;
  left:120px;
}

.leave_a_rating{
  border:1px solid rgb(229, 227, 227);
  background-color: rgb(229, 227, 227);
  border-radius: 10px;
  width:550px;
  height:100px;
  position:relative;
  top:-52px;
  left:345px;
}

.word-rating{
  position: relative;
  top:40px;
  left:80px;
}

.button-rating button{
  border:none;
  border-radius: 5px;
  position: relative;
  left:55%;
  top:8px;
  width:170px;
  height:50px ;
  background-color: #4285f4;
}

.word-button{
  font-size:16px;
  color:white;
}

.profile-comment img{
  width: 4%;
  height: auto;
  position: relative;
  left:100px;
  top:10px;
}

.card-line{
  width:85%;
  position: relative;
  left:70px;
}

.name{
  position: relative;
  left:150px;
  top:-35px;
}

.data{
  font-size:13px;
  color:rgb(154, 154, 154);
  position: relative;
  top:-30px;
  left:150px;
}

.stars-comment{
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top:-15px;
  left:100px;
}

.star1 {
  color: #ccc;
}

.star1.active {
  color: gold;
}

.word-comment{
    position: relative;
    left:100px;
}

.book-button button{
  border:none;
  border-radius: 5px;
  position: relative;
  left:78%;
  top:-65px;
  padding: 10px 10px;
  background-color:#fb7617 ;
}

.book-button:hover button{
  background-color: rgb(211, 116, 0);
}

.book-word{
  font-size:20px;
  color:white;
}

.price{
  position: relative;
  top:102px;
  left:15%;
}

.phone{
  position: relative;
  left:37%;
  top:-5px;
}

.time{
  position:relative;
  top:-110px;
  left:70%;
}
